* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 1160px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  overflow-x: hidden;
}

@media (max-width: 1199px) {
  html {
    overflow-x: hidden;
  }

  body {
    width: 100%;
    min-width: 678px;
  }
}

@media (max-width: 767px) {
  body {
    min-width: 290px;
  }
}

button {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  border: 0;
  position: relative;
  vertical-align: bottom;
}

h1 {
  font-family: "Bebas Neue", "Arial", sans-serif;
  color: #ffffff;
  font-size: 109px;
  line-height: 109px;
  font-weight: 700;
  text-align: right;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

h2 {
  font-family: "Bebas Neue", "Arial", sans-serif;
  color: #102654;
  font-size: 49px;
  line-height: 49px;
  letter-spacing: 0.03em;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

h3 {
  color: #102654;
  font-weight: 700;
}

@media (max-width: 1199px) {
  h2 {
    font-size: 42px;
    line-height: 42px;
  }
}

@media (max-width: 767px) {
  h2 {
    font-size: 32px;
    line-height: 32px;
  }
}

.container {
  position: relative;
  width: 1160px;
  margin: 0 auto;
  z-index: 2;
}

.container_bottom {
  width: 580px;
  margin: 0;
}

.container_flex-start {
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.container_flex-sb {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1199px) {
  .container {
    width: 678px;
  }

  .container_info {
    justify-content: space-between;
  }

  .container_bottom {
    width: 678px;
    margin: 0 auto;
  }
}

@media (max-width: 767px) {
  .container {
    width: 290px;
  }

  .container_bottom {
    width: 290px;
    margin: 0 auto;
  }

  .container_footer {
    flex-direction: column;
    align-items: flex-start;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
