@font-face {
  font-family: "Roboto Condensed";
  src: url("../fonts/roboto-condensed-v18-latin_cyrillic-300.woff2") format("woff2");
  src: url("../fonts/roboto-condensed-v18-latin_cyrillic-300.woff") format("woff");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Condensed";
  src: url("../fonts/roboto-condensed-v18-latin_cyrillic-regular.woff2") format("woff2");
  src: url("../fonts/roboto-condensed-v18-latin_cyrillic-regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Condensed";
  src: url("../fonts/roboto-condensed-v18-latin_cyrillic-700.woff2") format("woff2");
  src: url("../fonts/roboto-condensed-v18-latin_cyrillic-700.woff") format("woff");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Bebas Neue";
  src: url("../fonts/BebasNeueRegular.woff2") format("woff2");
  src: url("../fonts/BebasNeueRegular.woff") format("woff");
  font-weight: normal;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Bebas Neue";
  src: url("../fonts/BebasNeueBold.woff2") format("woff2");
  src: url("../fonts/BebasNeueBold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
