.section {
  padding: 120px 0;
}

.section_white {
  background-color: #ffffff;
}

.section_gray {
  background-color: #f8f9fc;
}

.section_adv h2 {
  margin-bottom: 70px;
}

.section__timetable h2 {
  margin-bottom: 60px;
}

@media (max-width: 1199px) {
  .section_adv h2 {
    margin-bottom: 43px;
  }

  .section__timetable h2 {
    margin-bottom: 50px;
  }
}

@media (max-width: 767px) {
  .section_adv h2 {
    margin-bottom: 45px;
  }
}

.bottom-section {
  display: flex;
  flex-direction: row;
  width: 100%;
}

@media (max-width: 1199px) {
  .section {
    padding: 100px 0;
  }

  .bottom-section {
    flex-direction: column;
  }
}

@media (max-width: 767px) {
  .section {
    padding: 70px 0;
  }
}
