.super {
  padding-bottom: 0;
}

.super__wrapper {
  display: flex;
  flex-direction: row;
}

@media (max-width: 767px) {
  .super__wrapper {
    flex-direction: column;
  }
}

.super__info {
  height: 500px;
  width: 500px;
  padding: 87px 78px;
  background-color: #ed0233;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 1023px) {
  .super__info {
    height: 292px;
    width: 292px;
    padding: 51px 45px;
  }
}

@media (max-width: 767px) {
  .super__info {
    width: 100%;
    padding: 51px 44px;
  }
}

.super__top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.super h2 {
  max-width: 201px;
  text-align: left;
  font-size: 90px;
  line-height: 90px;
  letter-spacing: 0.03em;
  color: #ffffff;
}

@media (max-width: 1023px) {
  .super h2 {
    font-size: 52px;
    line-height: 52px;
  }
}

.super__datetime {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  padding-bottom: 15px;
}

.super__date-text {
  font-size: 18px;
  line-height: 18px;
  font-weight: normal;
  margin-bottom: 10px;
}

.super__date-date {
  display: inline-flex;
  flex-direction: row;
  justify-content: start;
  border-top: 1px solid #ffffff;
  padding-top: 3px;
}

.super__date-number {
  font-size: 40px;
  line-height: 40px;
  font-weight: 700;
  margin-right: 7px;
}

.super__month-year {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3px 0;
}

.super__month,
.super__year {
  font-size: 14px;
  line-height: 14px;
  font-weight: normal;
}

.super__time {
  display: inline-block;
  padding-top: 3px;
  border-top: 1px solid #ffffff;
  font-size: 40px;
  line-height: 40px;
  font-weight: 700;
  font-style: normal;
}

@media (max-width: 1023px) {
  .super__datetime {
    padding-bottom: 7px;
  }

  .super__date-text {
    margin-bottom: 3px;
  }

  .super__date-date {
    padding-top: 2px;
  }

  .super__date-text {
    font-size: 12px;
    line-height: 12px;
    margin-bottom: 5px;
  }

  .super__date-number {
    font-size: 24px;
    line-height: 24px;
    margin-right: 3px;
  }

  .super__month-year {
    padding: 1px 0;
  }

  .super__month,
  .super__year {
    font-size: 10px;
    line-height: 10px;
  }

  .super__time {
    padding-top: 2px;
    font-size: 24px;
    line-height: 24px;
  }
}

.super__about {
  font-size: 18px;
  line-height: 18px;
  text-align: left;
  padding-bottom: 30px;
}

.super__request {
  width: 100%;
  height: 67px;
  border: 4px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}

@media (max-width: 1023px) {
  .super__about {
    font-size: 12px;
    line-height: 12px;
  }

  .super__request {
    height: 39px;
    border: 2px solid #ffffff;
    font-size: 10px;
    line-height: 12px;
  }
}