.index {
  background-color: #f8f9fc;
  padding: 120px 0;
  height: 100vh;
}

.index h1 {
  font-family: "Bebas Neue", "Arial", sans-serif;
  color: #102654;
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 70px;
}

@media (max-width: 767px) {
  .index h1 {
    font-size: 48px;
    line-height: 48px;
  }
}

.index__item {
  font-size: 28px;
  line-height: 28px;
  margin-bottom: 35px;
  color: #000000;
}

.index__link:hover {
  text-decoration: underline;
}
